#heading{
    display:inline;
    width: 100%;
    font-size: xx-large;
    float: left;
}

#instructions{
    border-color: white;
    border-width: 10px;
    float: right;
}

h4{
    margin: 0;
    line-height: 20px;
    background-color: whitesmoke;
    bottom: 0% !important;
    z-index: 10000000000000;
}

canvas{
    animation-name: mik;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    border: solid 3px lightblue;
}

@keyframes mik{
    from{
        box-shadow: 10 1 1 darkviolet;
    }
    to{
        box-shadow: 100 1 1 darkblue;
    }
}